{% extends 'core/base2.html' %}

{% block title %}About Us | {% endblock %}


{% load static %}

{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/main.css'  %}">
    </head>
    <body>

    <div>
        <div>
            <h4>wao.ng is the preferred place to sell anything to real people in Nigeria.
We provide a simple worry-free platform to sell and buy almost anything in Nigeria. </h4><br>
        </div>
        <div>
            <h3 class="text-uppercase"><strong> • &#160 How to sell on wao.ng?<br> </strong></h3> <br>

            <h3> 1. Register
using our simple registration form via registration link at the top right corner of the page. <br> <br>
2. Make photos of your item.
Feel free to make a lot of photos using your smartphone. Make sure they show your item in the best light. <br><br>
3. Give detailed information about your product e.g category, location, type include your phone number so that customer can contact you. <br> <br>

4. Answer the messages and calls from your clients! <br><br>
If everything is ok with your advert, it’ll be on wao.ng in a couple of minutes. After posting your ads you will automatically have access to a dashboard where you can make changes to your advert. <br><br>
<strong>• &#160 HOW TO BUY ON WAO.NG?<br></strong>
                <h3>1. Search for the item</h3>
                <h3>Find what you need using search panel and filters. choose exactly what you are looking for.</h3><br>

                <h3>2. Contact a seller</h3>
                <h3>You may call them via phone number on the product page which displays after clicking of View Details at the bottom of every product. Discuss all the details, negotiate about the price.</h3><br>

                <h3>3. Take your item or order a delivery</h3>
                <h3>We check our sellers carefully, but it’s always better to check twice, right? Meet a seller in public place and be sure to pay only after collecting your item.</h3><br>

                h3>4. Leave your feedback about the seller</h3>
                <h3>Feel free to tell us about your purchase. Your feedback will be published online on the seller’s page and will be very helpful for other buyers. Use the Submit Review button at the buttom of seller's page</h3><br>


            <strong>THANKS FOR USING WAO.NG<br></strong>
        </div>
    </div>
    {% endblock %}