{% extends 'core/base2.html' %}

{% block title %}About Us | {% endblock %}


{% load static %}

{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/main.css'  %}">
    </head>
    <body>

    <div>
        <div>
            <h4>wao.ng is the preferred place to sell anything to real people in Nigeria.
We provide a simple worry-free platform to sell and buy almost anything in Nigeria. </h4><br>
        </div>
        <div>
            <h3 class="text-uppercase"><strong> • &#160 Our Office?<br> </strong></h3> <br>

            <h3>Suite 2, 5th Floor, <br> <br> Block B, Lister House<br> <br>M.K.O. Abiola Way, Ring Road, <br> <br> Ibadan, Oyo State, Nigeria <br> <br> <br> Email: info@wao.ng for more information.<br><br> <br>

            <strong>THANKS FOR USING WAO.NG<br></strong>
        </div>
    </div>
    {% endblock %}