{% extends 'core/base2.html' %}

{% block title %}Terms and Conditions | {% endblock %}


{% load static %}

{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/main.css'  %}">
    </head>
    <body>

    <div>
        <div>
            <h4><strong>SAFETY ON WAO.NG</strong></h4><br>

        <div>
            <strong class="text-uppercase">Meet the sellers in person</strong><br>
            <li>Check the quality of the item(s) and make sure it meets your expectations before making payment</li><br>

            <strong class="text-uppercase">Prepayments are strictly prohibited on wao.ng</strong><br>
            <li><strong>Buyers </strong>- no prepayment should be made for either the delivery or the products. You can discuss the delivery cost, but payment should be made only AFTER the product is delivered successfully.</li>
            <li><strong>Sellers </strong>- don't ask for any prepayments before delivery! </li><br>

             <strong class="text-uppercase">Take Extra Care</strong><br>
            <li>Avoid anything that appears too good to be true, such as unrealistically low prices and promises of quick money.</li><br>

            <strong class="text-uppercase">Never give out your financial information</strong>
            <li>Including bank account details, Card details, PayPal info and any other information that could be misused</li><br>

            <strong class="text-uppercase">Be Careful</strong>
            <li>Conduct a background check on the company before going for an interview and also verify its website. Do not submit any upfront fees for a job application or go for interviews in remote or unfamiliar places. There should be no sharing of personal details such as bank account number or copy of your ID.</li><br>

        </div>
    </div>
</div>

            <strong>THANKS FOR USING WAO.NG<br></strong>
        </div>
    </div>
    {% endblock %}