{% extends 'core/base2.html' %}

{% block title %}Terms and Conditions | {% endblock %}


{% load static %}

{% block content %}
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'assets/css/main.css'  %}">
    </head>
    <body>

    <div>
        <div>
            <h4><strong>AD REPLY CODE OF CONDUCT</strong></h4><br>
 <ul>We reserve the right to delete or ban those who we deem to be using replies inappropriately.<br><br>

     <h3 class="text-uppercase">When contacting other users:</h3><br>

i.   &#160 Please treat all other users with courtesy and respect.<br>
ii. &#160 Do not reply to ads with unsolicited opinions, comments, or judgements about the content of the ads, the price of the item, or the poster themselves.<br>
iii. &#160 Abusive replies are not allowed. Any replies containing hate speech or defamation are strictly prohibited.<br>
iv. &#160 All replies to ads must be about what the ad is offering. Replies containing other commercial offers are not allowed on wao.ng.<br>
v. &#160 Impersonating other users, including supplying fake phone numbers, is not permitted. Those who are found to be doing so may lose the ability to use wao.ng.<br>
     wao.ng reserves the right to revoke the ability of any user to reply to ads without notice.</ul><br>
        </div>
        <div>
            <h3 class="text-uppercase"><strong> Receiving Inappropriate Replies<br> </strong></h3> <br>

            <h3> 1. If you receive a reply that you feel is inappropriate, please do not reply. You can delete the conversation using the Delete conversation button at the bottom of your messages. <br> <br>
2. If a user has become rude mid-conversation, remember that you can rate your experiences with them using the Rate Buyer or Rate Seller button found when you open the conversation. <br><br>
3. If the reply is threatening or hateful, please report to conplaint@wao.ng, we will investigate this immediately <br> <br>

<br>
<strong class="text-uppercase">Age Restrictions<br></strong>
                <h3>wao.ng cares about the safety of your entire family. We understand that in the age of technology, children are on the internet more than ever and free online classifieds can be a fun way for them to find toys, video games, clothes, and other cool items.</h3>
                <h3>Find what you need using search panel and filters. choose exactly what you are looking for.</h3><br>

                <h3>While we pride ourselves on being a site that the whole family can use, we also know the concerns involved with transacting online. We want to minimise these risks. Therefore, for anyone under 16 years of age, we ask that you have your parent/guardian respond to any ads you may be interested in. Also, if you wish to post an ad on wao.ng, have your parent/guardian do so on your behalf so they can be directly involved in the transaction.</h3>
                <h3>wao.ng reserves the right to remove any ad if we feel it is in the best interest and for the safety of our users.</h3><br>

<br>
<strong class="text-uppercase">Product Safety Statement
<br></strong>
                <h3>Buying products online from businesses that don’t give a valid Nigeria address and phone number increases the risk to consumers. Online platforms are not always the seller of the products on their websites and often act as an intermediary between an independent company and the buyer.
</h3>
                <br>

<br>
<strong class="text-uppercase">What's Not Allowed on wao.ng
<br></strong>
                <h3>wao.ng’s first priority is to ensure that our community remains safe for all members. We don’t allow the sale of anything illegal or dangerous. We also prohibit certain items at the request of our community. If we feel you’ve posted a banned item, we’ll ask you to take it down or remove it ourselves.
</h3>
                <br>
                <h3>The list below details what can’t be posted on wao.ng:</h3><br>
<div>
    <div>
        <div>
            <strong class="text-uppercase">Adult-only</strong><br>
            • &#160 Adult toys or other erotic products<br>
             • &#160 Adult toys or other erotic products<br><br>
            <strong class="text-uppercase">NOT ALLOWED</strong><br>
• &#160 Alcohol <br>
• &#160 Animal parts<br>
• &#160 Including parts of protected species <br>
• &#160 Ivory<br>
• &#160 Botox and Dermal Fillers
Including related equipment and services <br>
• &#160 Capital bonds <br>
• &#160 Cigarettes, cigars and related products <br>
• &#160 Loose tobacco <br>
• &#160 Electronic cigarette filters and e-liquids (with or without nicotine) <br>
• &#160 Dangerous chemicals <br>
• &#160 Drugs and prescription goods <br>
• &#160 Illegal drugs <br>
• &#160 Legal highs <br>
• &#160 Prescription drugs/medicines <br>
• &#160 Steroids <br>
• &#160 Over the counter drugs <br>
• &#160 Items designed only to help someone take drugs <br>
• &#160 Contact lenses (because they’re prescription) <br>
• &#160 Online accounts <br>
• &#160 Virtual merchandise, including in-game currencies or items <br>
• &#160 Virtual currencies (e.g., Bitcoin, Litecoin, etc.) <br>
Note: Asking to be paid for an item or service in a virtual currency is allowed, but the currency itself cannot be sold directly.
Any other digital products
• &#160 Vouchers and Gift Cards <br>
• &#160 Fake, replica, or unauthorised trademark items <br>
• &#160 Firearms, ammunition and equipment (even if they’re legal to buy)<br>
• &#160 Guns, including air guns, BB guns, replica guns, and paintball guns <br>
• &#160 Silencers <br>
• &#160 Ammunition, including ammo for paintball <br>
Note: Paintball equipment not related to the gun (goggles, gloves etc.) are allowed
Hunting equipment
• &#160 Fireworks (of any kind)<br>
• &#160 Hate organisations of any kind <br>
• &#160 Human parts, remains, or services <br>
• &#160 Blood, bone, and waste <br>
• &#160 Donor, surrogacy, and fertility services <br>
• &#160 Organs <br>
• &#160 Sperm and eggs <br>
• &#160 Used pregnancy tests <br>
• &#160 Items promoting hate, discrimination, or stereotypes of a particular group of people
Including gollywogs <br>
• &#160 Medical Grade PPE<br>
• &#160 Massage services where:
we believe the user is advertising a sexual service
ad includes reference to age, gender, race, physical attributes etc.<br>
• &#160 Nazi memorabilia<br>
• &#160 Stolen goods <br>
This includes blocked phones or no-signal phones
• &#160 Supplements <br>
Including supplements that contain DMAA <br>
• &#160 Unlocked hardware and software <br>
• &#160 Copied games, DVDs, and computer software <br>
• &#160 Fully loaded Kodi, Android, and Amazon boxes <br>
• &#160 software (software that unlocks any electronic item, like a phone) <br>
• &#160 Used underwear <br>
Briefs, knickers, thongs, boxer shorts, nappies, and so on
• &#160 Weapons and knives <br>
Knives of all kinds including chef and kitchen knives
Note: Cutlery/butter knives are allowed
• &#160 Crossbows and archery sets <br>
• &#160 Historical and ornamental weapons (like Samurai swords and bayonets)
Spear guns <br>
Please Note: While this list is intended to be thorough, we reserve the right to remove any and all content that we feel is inappropriate for wao.ng or that interferes with the well-being of the community.<br><br>
        </div>
    </div>
</div>

            <strong>THANKS FOR USING WAO.NG<br></strong>
        </div>
    </div>
    {% endblock %}