{% extends 'core/base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    <div class="column is-8 product-list-item">
    <div class="box">
        <figure class="image is-0by0 mb-4">
            {% if product.image %}
                <figure class="image is-4by3 mb-6">
                    <img src="{{ product.image.url }}">
                </figure>
            {% endif %}
        </figure>

    <h1 class="title">{{ product.title }}, ${{ product.price }}</h1>

    <p class="mb-6"><span class="tag is-dark">{{ product.vendor.name }}</span></p>

        <div class="text-info"><p>{{ product.category }}</p></div>
        <p>{{ product.title }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.location_state }}</p>
        <p>{{ product.location_street }}</p>
        <p>{{ product.type }}</p>
        <p>{{ product.condition }}</p>
        <p>{{ product.phone_number }}</p>
        <p>{{ product.price }}</p>

    </div>
    </div>


    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

